<div class="row h-100 justify-content-center align-items-center">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img src="../../assets/icone.png" class="my-3" id="icon" alt="User Icon" />
                <h2 class="h5">ACESSAR SUA CONTA</h2>
            </div>
            <form class="mt-2">
                <input type="text" class="fadeIn second" name="login" placeholder="E-mail">
                <input type="password" class="fadeIn second" name="password" placeholder="Senha">
                <input type="submit" class="fadeIn fourth" value="Entrar">
            </form>  
            <div class="fadeIn first pb-4">                
                <div style="text-decoration: underline; cursor: pointer;" class="link-success" [routerLink]="'/cadastrointeressado'">Cadastrar como Adotante</div>
                <div style="text-decoration: underline; cursor: pointer;" class="link-success" [routerLink]="'/cadastrocanil'">Cadastrar como Canil</div>
            </div>        
        </div>
    </div>
</div>